AcmeCursos/Service References/ProfessorServices/ProfessorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProfessorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49495/ServicesImplementation/ProfessorService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49495/ServicesImplementation/ProfessorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49495/ServicesImplementation/ProfessorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AcmeCursos.Models" />
      <xsd:import schemaLocation="http://localhost:49495/ServicesImplementation/ProfessorService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProfessorService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_GetProfessorComCursos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfessorComCursos" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_GetProfessorComCursos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfessorComCursosResponse" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_SaveWithCursos_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveWithCursos" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_SaveWithCursos_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveWithCursosResponse" />
  </wsdl:message>
  <wsdl:portType name="IProfessorService">
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudOf_Professor/Get" message="tns:IProfessorService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudOf_Professor/GetResponse" message="tns:IProfessorService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudOf_Professor/GetAll" message="tns:IProfessorService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudOf_Professor/GetAllResponse" message="tns:IProfessorService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudOf_Professor/Delete" message="tns:IProfessorService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudOf_Professor/DeleteResponse" message="tns:IProfessorService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudOf_Professor/Save" message="tns:IProfessorService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudOf_Professor/SaveResponse" message="tns:IProfessorService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfessorComCursos">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfessorService/GetProfessorComCursos" message="tns:IProfessorService_GetProfessorComCursos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfessorService/GetProfessorComCursosResponse" message="tns:IProfessorService_GetProfessorComCursos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveWithCursos">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfessorService/SaveWithCursos" message="tns:IProfessorService_SaveWithCursos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfessorService/SaveWithCursosResponse" message="tns:IProfessorService_SaveWithCursos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProfessorService" type="tns:IProfessorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/ICrudOf_Professor/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/ICrudOf_Professor/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ICrudOf_Professor/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/ICrudOf_Professor/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfessorComCursos">
      <soap:operation soapAction="http://tempuri.org/IProfessorService/GetProfessorComCursos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveWithCursos">
      <soap:operation soapAction="http://tempuri.org/IProfessorService/SaveWithCursos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProfessorService">
    <wsdl:port name="BasicHttpBinding_IProfessorService" binding="tns:BasicHttpBinding_IProfessorService">
      <soap:address location="http://localhost:49495/ServicesImplementation/ProfessorService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>